[user]
	name = Mara Sophie Grosch
	useConfigOnly = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	excludesfile = ~/.gitignore
[merge]
	tool = vim-conflicted
[mergetool "vim-conflicted"]
	cmd = vim +Conflicted
[init]
	defaultBranch = main
[pull]
	rebase = true
[diff "se-sops"]
	textconv = se-sops --git-filter
