cpp.vim
ctrlp.vim
nerdtree
perl-support.vim
perl-vim-mxd
syntastic
typescript-vim
vim-airline
vim-bitbake
vim-capnp
vim-conflicted
vim-cpp-enhanced-highlight
vim-fugitive
vim-gnupg
vim-go
vim-latex-live-preview
vim-lsp
vim-lucius
vim-perl
vim-qml
vim-scala
vim-syntax-shakespeare
yesod.vim
YouCompleteMe
