/DisplayCAL
/FreeCAD
/GIMP
/KDE
/Qt
/QtProject.conf
/QtProject
/RadareOrg
/StardewValley
/Trolltech.conf
/Unknown Organization
/Yubico
/autostart
/baloofilerc
/binwalk
/blender
/cef_user_data
/chromium
/configstore
/corebird
/dconf
/enchant
/evince
/evolution
/filezilla
/freerdp
/freshwrapper-data
/fyne
/gajim/*
!/gajim/config
/gcloud
/gocode
/google-chrome
/gqrx
/gtk-2.0
/gtk-3.0
/helm
/htop
/icedtea-web
/inkscape
/kactivitymanagerdrc
/kcalcrc
/keepassx
/kglobalshortcutsrc
/kicad
/kmetainformationrc
/konquerorrc
/konsolerc
/kritadisplayrc
/kritarc
/kwinrc
/libreoffice
/lxqt
/menus
/mimeapps.list
/modem-manager-gui
/mopidy
/nautilus
/nitrogen
/obs-studio
/pavucontrol.ini
/pulse
/qalculate
/remmina
/skypeforlinux
/systemd
/teamviewer
/totem
/tryton
/unity3d
/user-dirs.dirs
/user-dirs.locale
/virt-viewer
/vlc
/wireshark
/xbuild
/xfce4
/yarn
