/AoW3
/aspyr
/Aspyr*
/DisplayCAL
/JetBrains
/Qt
/Steam
/TelegramDesktop
/Trash
/applications
/aspyr-media
/desktop-directories
/dino
/evolution
/fonts/.uuid
/gajim
/gvfs-metadata
/helm
/icons
/kactivitymanagerd
/keyrings
/konqueror
/krita-sysinfo.log
/krita.log
/krita
/mime
/modem-manager-gui
/mopidy
/multimc
/org.kde.syntax-highlighting
/qalculate
/recently-used.xbel
/remmina
/teamviewer15
/tracker
/vlc
/vulkan
/zathura
